/* .progressBar {
  width: 100%;
  height: 30px;
  border: 1px solid red;
}

.progressBarFill {
  width: 100%;
  height: 100%;
  background: green;
} */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}
.game {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.counter {
  height: 50px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.lock {
  width: 250px;
  height: 250px;
  background: red;
  border-radius: 250px;
  content: "";
  border: gray solid 10px;
  /* border-left-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(
    red 6deg,
    orange 6deg 18deg,
    yellow 18deg 45deg,
    green 45deg 110deg,
    blue 110deg 200deg,
    purple 200deg
  );
}

.pick {
  position: absolute;
  width: 400px;
  height: 20px;
  /* border-radius: 250px; */
  content: "";
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  /* background: blue; */
  /* border: transparent solid 200px; */
  /* border-left-color: blue; */
}
